.room-settings {
    display: flex;
    flex: 1;

    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    min-width: 300px;
    background-color: var(--clr-light-background);;
    z-index: 2;
}

.room-settings__header {
    display: flex;
    justify-content: space-around;
    padding: .75em;
    box-sizing: border-box;
    background-color: var(--clr-grey);
}

.room-settings_header-text{
    display: flex;
    margin: auto;
    font-size: 1.5em;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-width: 240px;
    height: 42px;
    color: var(--clr-dark);
}

.room-settings-header__btn {
    cursor: pointer;
    display: flex;
    font-size: 28px;
    color: var(--clr-dark);
    margin: auto 0;
}

.room-settings__body {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
}

.room-settings__body__room-name  {
    display: flex;
    flex-direction: column;
    border-bottom: var(--brd-fat);
    padding: 15px;
}

.room-settings__body__read_only  {
    display: flex;
    flex-direction: row;
    border-bottom: var(--brd-fat);
    padding: 15px;
    justify-content: space-between;
    align-content: center;
}

.rsi-header {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--clr-dark);
}

.rsi-input {
    color: rgb(96, 137, 197);
    outline: none;
    flex: 1;
    font-size: 18px;
    padding: 5px;
    outline: 0;
    background-color: var(--clr-white);
    border: var(--brd-fat);
    transition: color 0.2s;
    margin-right: 15px;
}

.rsi-error {
    border: 1px solid #b34f4f;
    transition: color 0.2s;
}

.rs-body__btn {
    border-radius: 5px;
    text-align: center;
    width: 50px;
    background-color: #ff6b6f;
    padding: 0.5em 0.7em;
    color: var(--clr-white);
    cursor: pointer;
    border: var(--brd-thin);
    display: flex;
    flex-direction: column;
}

.btn-disable {
    background: #ccc;
    cursor: default;
}

.btn-disable:hover {
    background: #ccc;
}

.rs-body__btn:hover {
    background-color: #ff8487;
}

.rs-body__btn:active {
    background-color: #ce3335;
}

.rsi__apply-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;
}