.sidebar__header {
    display: flex;
    padding: .75em .5em .75em .75em;
    justify-content: space-between;
}

.toolbar {
    display: flex;
    height: 42px;
}

.toolbar__room-menu {
    z-index: 10;
}

.toolbar__add-room-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 28px;
    color: var(--clr-white);
    cursor: pointer;
}

.toolbar__add-room-btn svg {
    padding: 0 .25em;
}

.toolbar__close-btn {
    display: none;
    flex-direction: column;
    justify-content: center;
    font-size: 28px;
    color: var(--clr-white);
    cursor: pointer;
}

@media only screen and (max-width:480px)  {
    .toolbar__close-btn {
        display: flex;
    }
}

.sidebar__search {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.sidebar__search-input {
    display: flex;
    height: 28px;
    border-radius: 4px;
    background: white;
    color: var(--clr-dark);
    outline:none;
    padding-left: 10px;
    margin-right: 2px;
    border: none;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
}