.modal__blocker {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.modal__window {
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    width: 300px;
    padding: 15px;
    border-radius: 5px;
}

.modal__header {
    font-size: 20px;
}

.modal__msg {
    font-size: 15px;
    padding: 10px;
}

.modal__buttons {
    display: flex;
    align-self: flex-end;
}

.modal__btn {
    padding: 7px;
    color: var(--clr-blue);
    cursor: pointer;
}
