.room-list__item {
    cursor: pointer;
    color: var(--clr-white);
    padding: .75em .75em .5em .75em;
}

.room-list__item:hover {
    background: #354250;
    color: white;
    transition:.25s;
}

.room-list__item_highlighted {
    background: #2b3643;
    color: white;
}

@media only screen and (max-width:480px)  {
    .room-list__item_highlighted {
        background: initial;
    }
    .room-list__item:hover {
        transition: none;
    }
}

.room-list__info {
    margin-top: -48px;
    padding-left: 40px;
}

.room-list__userpic {
    display: flex;
    width: var(--ico-sz);
    height: var(--ico-sz);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.room-list__userpic img {
    width: 90%;
    height: 90%;
    border-radius: inherit;
}

.room-list__info-row {
    display: flex;
    padding-left: 10px;
    color: var(--clr-hghlt);
    font-size: 12px;
    align-items: center;
}

.room-list__name {
    flex: 1;
    padding:.5em 0;
    font-size: 15px;
    width: 20px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.room-list__time {
    display: flex;
    padding-right: 3px;
}

.room-list__last-msg {
    font-size: 12px;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.room-list__count {
    background-color: var(--clr-blue);
    display: flex;
    color: white;
    margin: -2px 0 0 6px;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 5px;
    align-items: center;
}

.room-list__count-hide {
    visibility: hidden;
}

.is_paused {
    font-size: 15px;
    display: flex;
    margin: 0 3px;
}

.room_status_tag {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--clr-white);
    padding: 3px 6px;
    border-radius: 10px;
    background-color: var(--clr-blue);
    margin: 0 3px;
}

.in_progress {
    background-color: var(--brd-green);
}

.closed {
    background-color: var(--brd-red);
}

.pending {
    background-color: var(--clr-dark_grey);
}