.room__chat {
    background-color: var(--clr-light-background);
    display: flex;
    flex: 1;
    justify-content: center;
    border-bottom: var(--brd-thin)
}

.chat-messages {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 900px;
}

.chat_virtual{
    display: flex;
    flex-direction: column-reverse;
    margin: 0 .5em 0 0;
    padding: 0;
}
