.menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid #c6e3ec;
    border-radius: 3px;
    box-shadow: 0 0 6px #7b96a6;
}

.menu__item {
    margin: 0;
    padding: 0;
}

.menu__item div  {
    padding: 10px 15px;
    font-size: 14px;
}

.menu__item:hover {
    background-color: #c6e3ec;
}
