.room__header {
    display: flex;
    justify-content: space-between;
    padding: .75em 1.5em .75em 1.5em;
    background-color: var(--clr-grey);
    height: 2.6em;
    align-items: center;
}

.room__back-btn {
    display: none;
    margin: 0 .25em 0 0;
    color: var(--clr-dark);
    font-size: 28px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width:480px)  {
    .room__back-btn {
        display: flex;
    }
}

.room__info {
    display: inline-block;
    width: 60px;
    font-size: 1.25em;
    color: var(--clr-black);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 0;
}

.room__info-body {
    display: flex;
    justify-content: flex-start;
}

.room__add-users-btn {
    display: flex;
    margin: 0 .25em;
    font-size: 28px;
    color: var(--clr-white);
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
}

.room__settings-btn {
    display: flex;
    font-size: 28px;
    color: var(--clr-dark);
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
}

.room__exit-chat-btn {
    display: flex;
    font-size: 28px;
    color: var(--clr-white);
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
}

.room__close-chat-btn {
    display: flex;
    font-size: 28px;
    color: var(--clr-dark);
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
}

.room__close-room-btn {
    display: flex;
    font-size: 28px;
    color: var(--clr-dark);
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
}

.active_buttons {
    display: flex;
    font-size: 28px;
    color: var(--clr-white);
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
}

.room__name {
    text-align: center;
    padding-top: 4px;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: text;
}

.room__bot-activity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 5px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 5px;
}

.working {
    background-color: green;
}

.paused {
    background-color: red;
}

