.room-list {
    padding: 0;
    list-style: none;
    margin: 0;
}

.sidebar__room-list {
    flex: 1;
}

.sidebar__room-list > div > div:last-child > div {
    background-color: var(--clr-hghlt) !important;
}

.sidebar__empty-search-list {
    color: var(--clr-white);
    text-align: center;
}