.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-light-grey);
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 28px;
    border: 1px solid #b1b1b1
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
    border: 1px solid #b1b1b1;
}

input:checked + .slider {
    background-color: var(--clr-dark);
    border: 1px solid var(--clr-dark);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-dark);
}

input:checked + .slider:before {
    border: 1px solid var(--clr-dark);
    transform: translateX(20px);
}
