body {
    margin: 0;
}

#chat {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
}

.form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 10px;
}

#btn-run-chat {
    width: 100px;
    flex-direction: row;
    justify-content: flex-end;
}

iframe {
    border: none;
}

.chat-iframe {
    display: flex;
    box-shadow: 0 10px 20px -5px #000;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 85%;
    width: 100%;
}

@media only screen and (max-width:480px)  {
    .chat-iframe {
        top: 0;
        height: 100%;
    }
}
