.room__sendbox {
    display: flex;
    justify-content: center;
}

.sendbox {
    flex: 1;
    display: flex;
    max-width: 900px;
}

.sendbox__input {
    display: flex;
    flex: 1 0 0;
    border: none;
    outline: none;
    resize: none;
    padding: 17px 15px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: inherit;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.sendbox__input::-webkit-scrollbar {
    display: none;
}

.sendbox__input::placeholder {
    color: #5a5a5a;
    font-size: 1em;
}

.sendbox__send-btn {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    width: 1em;
    margin: 0.25em;
    color: var(--clr-dark);
    cursor: pointer;
    justify-content: center;
    justify-items: center;
}
