:root {
    --brd-thin: 1px solid rgb(222, 224, 236);
    --brd-fat: 1px solid rgb(194, 193, 193);
    --brd-red: rgb(255,60,60);
    --brd-green: rgb(92, 148, 60);

    --txt-sdw: 1px 1px 9px rgb(27, 46, 58);

    --clr-blue: rgb(56, 123, 224);
    --clr-grey: #CFD2DE;
    --clr-dark_grey: #5a5a5f;
    --clr-hghlt: rgb(153, 170, 181);
    --clr-hvr: rgb(184, 203, 214);
    --clr-white: rgb(255,255,255);
    --clr-black: rgb(0,0,0);
    --clr-dark: #212933;
    --clr-light-background: #EBECF2;
    --clr-light-grey: #BBC5D0;

    --brd-sdw-green:rgb(64, 145, 33);
    --ico-sz: 40px;
}

#root {
    display: flex;
    flex: 1;
}

/* get the required local files */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url('fonts/Roboto/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'),
    url('fonts/Roboto/Roboto.woff') format('woff'), /* Modern Browsers */
    url('fonts/Roboto/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Roboto/Roboto_cyrillic.woff2') format('woff2');
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    user-select: none;
    font-weight: normal;
}
