.message {
    display: flex;
    max-width: 80%;
    white-space: pre-line;
    user-select: text;
    align-items: end;
}

.message_my {
    display: flex;
    text-align: end;
    max-width: 100%;
    flex-direction: row-reverse;
    align-items: end;
}

.message_my .message__balloon {
    border-radius: 5px;
    text-align: left;
}

.message_my .message__header {
    align-self: flex-end;
}

.message__userpic img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--ico-sz);
    height: var(--ico-sz);
    border-radius: 50%;
    margin-bottom: 5px;
}

.message__userpic-hiding img{
    display: none;
}

.message__box-group {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 0.5em;
    max-width: 80%;
    margin-bottom: 0.5em;
}

.message__time {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75em;
    color: var(--clr-hghlt);
}

.message__in-mod {
    color: #b34f4f;
    margin-right: 3px;
    margin-left: 10px;
}

.message__rejected {
    color: #b34f4f;
    margin-right: 3px;
    margin-left: 10px;
}

.message__balloon {
    display: flex;
    border: 1px solid var(--clr-white);
    background-color: var(--clr-white);
    color: var(--clr-black);
    padding: 0.75em;
    border-radius: 10px;
    word-break: break-word;
}

.system_message_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-blue);
    font-size: 12px;
    font-style: italic;
    width: 100%;
}

.system_message {
    padding: 5px;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    word-break: break-word;
}

.message__new-day {
    display: flex;
    justify-content: center;
    color: var(--clr-hghlt);
    font-size: .8em;
    margin: 5px
}

.msg_user_box {
    display: flex;
    flex-direction: column;
    margin: 0.0em 0.0em 0.5em 0.5em;
    justify-content: center;
    align-items: center;
}
