.room {
    display: flex;
    width: inherit;
    height: inherit;
    flex-direction: column;
}

.room__incative {
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.room__incative-content {
    font-size: 1.5em;
    text-align: center;
    color: var(--clr-grey);
}

.close_bth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 28px;
    margin-left: auto;
    margin-top: .67em;
    color: var(--clr-dark);
    cursor: pointer;
    padding-right: 0.86em;
}