.search-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    width: 100%;
}

.search-users__input {
    color: rgb(96, 137, 197);
    outline: none;
    flex: 1;
    font-size: 18px;
    padding: 5px;
    outline: 0;
    background-color: var(--clr-white);
    border: var(--brd-fat);
    transition: color 0.2s;
}

.search-users__input::placeholder {
    color: rgba(67, 134, 255, 0.44);
    font-family: "Roboto",Arial, Helvetica, sans-serif;
}

.search-users__output {
    box-sizing: border-box;
    background-color: var(--clr-white);
    border: var(--brd-thin);
    flex: 1;
    z-index: 1;
}

.search-users__output-hide {
    display: none;
}

.search-users__output ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
    margin: 0;
}

.search-users__output li {
    cursor: pointer;
    color: var(--clr-blue);
}

.search-users__output li:hover {
    text-shadow: 0 0 0.05em var(--clr-blue);
    background-color: var(--clr-light-background);
}

.search-users {
    display: flex;
}

.search-users__plus-icon{
    font-size: 18px;
    color: var(--clr-blue);
    cursor: pointer;
    margin-right: 0.5em;
}


