.sidebar {
    flex: 0 0 400px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--clr-dark);
}

@media only screen and (max-width:480px)  {
    .sidebar {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        visibility: hidden;
    }

    .sidebar_visible {
        visibility: visible;
        z-index: 1;
    }
}

.content {
    height: 100vh;
    flex: 1;
}
