.room__info {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: .25em;
    border-bottom: var(--brd-thin)
}

.room__creator-label {
    padding: .25em;
}

.room__participant-count {
    color: var(--clr-hghlt);
    padding: .25em;
    cursor: pointer;
}

.participant-hidden {
    cursor: auto;
}